development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: rosa_file_store_development
  pool:     5
  username: postgres
  password: postgres
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: rosa_file_store_test
  pool:     5
  username: postgres
  password: postgres
  template: template0

production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV["DATABASE_NAME"] %>
  template: template0
  host: <%= ENV["DATABASE_HOST"] %>
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  pool: <%= ENV["DATABASE_POOL"] %>
  timeout: <%= ENV["DATABASE_TIMEOUT"] %>
